################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sandalo
/Sandalo/bin/Debug/netcoreapp3.1
/Sandalo/obj
